
h1 {
  margin: 30px;
  font-family: 'Akronim', cursive;
  text-shadow: 5px 0 #544179;
  font-size: 6rem;
  color: #B983FF;
  text-align: center;
}


.dice1 {
  display: flex;
  float: left;
  width: 40%;
  justify-content: center;
  
}
.dice2 {
  display: flex;
  float: left;
  width: 40%;
  justify-content: center;
   
}
.dice-mid {
  display: flex;
  float: left;
  width: 20%;
  justify-content: center;
   
}
body {
  background-color: #142F43;
}



p {
  font-size: 2.5rem;
  color: #32C1CD;
  font-family: 'Satisfy', cursive;
}

.img1 {
  width: 30%;
}
.img2 {
  width: 30%;
  
}

footer {
  margin-top: 25%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Kavoon', cursive;
  letter-spacing: 10;

}
